@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}
:root {
  --gray: #ccc;
  --black: #000;
  --white: #fff;
  --red: #ff0000;
  --dark: #4d4d4d;
  --orange: #ff9a16;
  --light-gray: #555;
}
.vsi-fe2-our__blog {
  background-image: url("../images/blog/banner4-1.jpg");
  background-size: cover;
  background-position: center;
  height: 219px;
  display: flex;
  align-items: center;
  text-align: center;
}
.vsi-fe2-our__text {
  color: var(--white);
}
.vsi-fe2-our__text h2 {
  font-size: 36px;
  padding: 0 0 10px;
  margin: 0;
}
.vsi-fe2-our__text p {
  padding: 10px 0;
  margin: 0;
}
/* tutorial */

.vsi-fe2-our__tutorial__left {
  padding-top: 50px;
}
.vsi-fe2-our__tutorial__left ul {
  list-style: none;
}
.vsi-fe2-our__tutorial__items {
  width: 100%;
}
.vsi-fe2-our__tutorial__left--text {
  background-color: #fafafa;
  padding: 25px;
}
.vsi-fe2-our__tutorial__left--text h2 {
  font-size: 30px;
  margin: 0;
  padding: 0 0 15px;
}
.vsi-fe2-our__tutorial__left--text p {
  line-height: 1.6;
  margin: 0;
}
.line {
  border-bottom: 1px solid var(--gray);
  width: 100%;
  height: 1px;
}
.vsi-fe2-our__tutorial__left--share {
  background-color: #fafafa;
  border-bottom-left-radius: 5px;
  padding: 25px;
  border-bottom-right-radius: 5px;
}
.vsi-fe2-our__tutorial__left--sharebutton {
  display: inline-block;
  border: 1px solid var(--black);
  border-radius: 5px;
}
.vsi-fe2-our__tutorial__left--share .btn.btn-primary {
  border-radius: 0;
  padding: 0 10px;
  font-size: 12px;
}
.vsi-fe2-our__tutorial__left--sharebutton--icon .facebook-icon-share {
  height: 15px;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  color: #4267b2;
  line-height: 1.4;
  margin-top: 5px;
}
/* tutorial right */
.vsi-fe2-our__tutorial-right {
  padding: 50px 0;
}
.vsi-fe2-our__tutorial-right ul {
  list-style: none;
}
.vsi-fe2-our__tutorial-right h3 {
  font-size: 24px;
  font-weight: bold;
  padding: 0 0 30px;
}
.vsi-fe2-our__tutorial-right--text {
  padding: 10px 15px;
  background-color: #fafafa;
  font-size: 18px;
  font-weight: 900;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #fafafa;
}
.vsi-fe2-our__tutorial-right h4 {
  font-size: 18px;
}
.vsi-fe2-our__tutorial-right--imageShare {
  height: 100%;
  padding: 20px 0;
}
/* turn off hover color btn */
.vsi-fe2-our__tutorial__left--sharebutton--icon .btn-primary:hover {
  cursor: pointer;
  background-color: #007bff;
  border-color: #007bff;
}
.pagination {
  margin-left: 15px;
  padding-top: 20px;
}
.pagination a {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 10.2px;
  margin: 0 3.6px 12px;
  line-height: 2.48em;
  height: 2.4em;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(to bottom, #fafafa 0, #d5d4d4 100%);
  color: #666;
  font-size: 12px;
  display: inline-block;
}
.pagination .page-item.active a {
  background: #d5d4d4;
  border: 1px solid #999;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.35);
  color: black;
  outline: none;
}
.page-link:hover {
  border: 1px solid #aeacac !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  color: #666;
}

/* hiêu ứng */
.vsi-fe2-our__tutorial__left .set {
  margin-bottom: 30px;
}
.vsi-fe2-our__tutorial-right .set {
  margin-bottom: 30px;
}
.vsi-fe2-our__tutorial__left--text a {
  text-decoration: none;
}
.vsi-fe2-our__tutorial__left--text a:hover {
  color: var(--orange);
  transition: all 0.5s linear;
}
.set {
  transition: all 0.5s ease;
}
.set:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.set .vsi-fe2-our__tutorial__left--banner a img {
  transition: all 0.5s linear;
  z-index: -1;
  position: relative;
}
.set:hover .vsi-fe2-our__tutorial__left--banner a img {
  transform: scale(1.1);
  position: relative;
  z-index: -1;
}
.set .vsi-fe2-our__tutorial__right--banner img {
  transition: all 0.5s linear;
  z-index: -1;
  position: relative; 
}
.set:hover .vsi-fe2-our__tutorial__right--banner img {
  transform: scale(1.1);
  position: relative;
  z-index: -1;
}
