@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --grey: #ccc;
    --black: #000;
    --white: #fff;
    --red: #FF0000;
    --dark: #4d4d4d;
    --bold: #555;
    --orager: #ff9a16;
}
body{
    font-family: "Roboto","Helvetica","Calibri";
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: "Roboto","Helvetica","Calibri";
}

.vsi-fe1-header-contact-us{
    width: 100%;
    height: 100%;
    padding: 40px 0 50px 0;
    margin: 0;
    background-image: url(../images/contact-us/banner1-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center  center;
}
.vsi-fe1-text-contact-us{
    padding: 0;
    margin: 0;
}
.vsi-fe1-text-contact-us h2{
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
    margin: 10px 0;
    color: var(--white);
    text-align: center;
}
.vsi-fe1-text-contact-us p{
    color: var(--white);
    text-align: center;
    padding: 0;
    margin: 0;
}
.vsi-fe1-visit-contact-us{
    width: 100%;
    max-width: 100%;
    padding: 50px 15px 50px 15px;
    margin: 0;
    background-color: var(--white);
}
.vsi-fe1-visit{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.vsi-fe1-visit h4{
    font-size: 1.125rem;
    color: var(--black);
    padding: 0;
    margin: 5px 0;
    font-weight: 700;
    text-align: left;
}
.vsi-fe1-visit p{
    line-height: 1.6;
    color: var(--bold);
    padding: 0;
    margin: 0;
    font-weight: normal;
}
.vsi-fe1-visit p a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    outline: none;
    color: #1d96c4;
}
.vsi-fe1-contact-us{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}
.vsi-fe1-contact-us h4{
    font-size: 1.125rem;
    color: var(--black);
    padding: 0;
    margin: 5px 0;
    font-weight: 700;
    text-align: left; 
}
.vsi-fe1-label-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px 0;
    width: 90%;
    max-width: 90%;
}
.vsi-fe1-label-input .vsi-fe1-label{
    width: 29%;
    max-width: 29%;
    padding: 0;
    margin: 0;
    float: left;
}
.vsi-fe1-label label span{
    color: #790000;
    margin-left: 4px;
}   
.vsi-fe1-label-input .vsi-fe1-input{
    width: 70%;
    max-width: 70%;
    padding: 0;
    margin: 0;
    float: right;
}
.vsi-fe1-label-input .vsi-fe1-input input{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}
.vsi-fe1-label-input .vsi-fe1-input textarea{
    height: 130px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}
.vsi-fe1-label-input .vsi-fe1-input select{
    padding: 2px 0 2px 3px;
    margin: 0;
    outline: none;
}
.vsi-fe1-contact-us .vsi-fe1-btn-seen{
    float: right;
    text-align: right;
    margin: 0;
    padding-top: 1rem;
    padding-right: 4.7rem;
}
.vsi-fe1-contact-us .vsi-fe1-btn-seen button{
    min-width: 130px;
    padding: 10px 20px;
    background: #1d96c4;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    outline: none;
}
.vsi-fe1-contact-us .vsi-fe1-btn-seen button:hover{
    background: #ff9a16;
}
.vsi-fe1-maps{
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}
.vsi-fe1-maps iframe{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

@media (max-width: 575.98px) { 
    .vsi-fe1-header-contact-us{
        height: 100% !important;
        background-size: 100% 100% !important;
    }
    .vsi-fe1-contact-us .vsi-fe1-btn-seen{
        padding-right: 2.7rem;
    }
    .btn__footer{
        margin: 0 auto;
        padding: 10px;
    }
    .copyright__right ul{
        text-align: center;
    }
    .vsi-fe1-label-input{
        display: block !important;
        padding: 0;
    }
    .block{
        display: block !important;
    }
    .vsi-fe1-label-input .vsi-fe1-input{
        float: left !important;
        width: 100% !important;
        max-width: 100% !important;
    }
    .vsi-fe1-label-input .vsi-fe1-label{
        width: 100%;
        max-width: 100%;
        float: left;
    }
 
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .vsi-fe1-header-contact-us{
        height: 100% !important;
        background-size: 100% 100% !important;
    }
    .vsi-fe1-contact-us .vsi-fe1-btn-seen{
        padding-right: 2.7rem;
    }
    .btn__footer{
        margin: 0 auto;
        padding: 10px;
    }
    .copyright__right ul{
        text-align: center;
    }
    .block{
        display: block !important;
    }
    .vsi-fe1-label-input .vsi-fe1-input{
        float: left !important;
        width: 100% !important;
        max-width: 100% !important;
    }
    .vsi-fe1-label-input .vsi-fe1-label{
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .vsi-fe1-contact-us .vsi-fe1-btn-seen{
        padding-right: 2.7rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) { 

 }