
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@font-face {
    font-family: Hominis;
    src: url(../fonts/HOMINIS.TTF);
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --grey: #ccc;
    --black: #000;
    --white: #fff;
    --red: #FF0000;
    --dark: #4d4d4d;
    --orager: #ff9a16;
}
body{
    background: var(--white);
    padding: 0;
    margin: 0;
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Roboto","Helvetica","Calibri";
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: "Roboto","Helvetica","Calibri";
}

.vsi-fe1-banner{
    width: 100%;
    max-width: 100%;
    min-height: 750px;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    background-image: url(../images/creativity/creativity_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
}
.vsi-fe1-title-banner{
    position: absolute;
    width: 100%;
    max-width: 100%;
    padding: 50px 0;
    text-align: center;
}
.vsi-fe1-title-banner img{
    text-align: center;
    padding: 0;
    margin: 0;
}
.vsi-fe1-title-banner h1{
    font-size: 1.875rem;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--white);
    transition-delay: 0.7s;
}
.vsi-fe1-creativity-devices{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    display: block;
    padding: 0;
    text-align: center;
    width: 100%;
    margin-top: -56px;
    bottom: -56px;
}
.vsi-fe1-creativity-devices img{
    max-width: 100%;
    height: auto;
}
.vsi-fe1-professional{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vsi-fe1-man-in-suit{
    width: auto;
    padding: 0;
    width: 20%;
    max-width: 20%;
    margin: 0;
    background-image: url(../images/creativity/man_in_suit.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    box-sizing: border-box;
    overflow: hidden;

}

.vsi-fe1-man-in-suit img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-size: auto 100%;
    padding: 0;
    margin: 0;
}
.vsi-fe1-text-professional{
    width: 30%;
    max-width: 30%;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}
.vsi-fe1-text-professional h1{
    font-family: 'Cinzel', serif;
    color: #282b2e;
    transition-delay: 0.5s;
    font-size: 50px;
    padding-bottom: 20px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
}
.vsi-fe1-text-professional p{
    color: #282b2e;
    transition-delay: 0.5s;
    font-size: 16px;
    line-height: 1.3;
    font-weight: normal;
    line-height: 1.6;
    text-align: left;
    padding: 0;
    margin: 0;
}
.vsi-fe1-professional-banner{
    width: 50%;
    max-width: 50%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.vsi-fe1-professional-banner img{
    width: 100%;
    height: auto;
}


.vsi-fe1-funky{
    width: 100%;
    max-width: 100%;
    min-height: 675px;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    background-image: url(../images/creativity/funky_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.funky-banner-mobile{
    width: 100%;
    min-height: 429px;
    max-width: 100%;
    background-image: url(../images/creativity/funky_banner_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    display: none;
}
.vsi-fe1-funky_banner{
    width: 50%;
    min-height: 429px;
    max-width: 50%;
    background-image: url(../images/creativity/funky_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.vsi-fe1-text-funky{
    width: 35%;
    max-width: 35%;
    padding: 0;
    margin: 0;
}
.vsi-fe1-text-funky h1{
    font-size: 50px;
    font-family: Hominis;
    padding-bottom: 20px;
    margin: 0;
    font-weight: normal;
    line-height: 1.2;
    color: var(--white);
}
.vsi-fe1-text-funky p{
    font-size: 16px;
    font-family: "Roboto","Helvetica","Calibri";
    color: var(--white);
    padding: 0;
    margin: 0;

}
.vsi-fe1-pink{
    width: 15%;
    max-width: 15%;
    padding: 0;
    margin: 0;
}
.vsi-fe1-funky_flower{
    position: absolute;
    top: -60px;
    right: 15px;
    width: 20%;
}
.vsi-fe1-funky_flower img{
    max-width: 100%;
    height: auto;
}
.vsi-fe1-pink-shoes img{
    max-width: 100%;
    height: auto;
}
.vsi-fe1-pink-shoes{
    position: absolute;
    bottom: -140px;
    right: 140px;
    width: 20%;
}
.vsi-fe1-minimalist{
    width: 100%;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 225px 0 40px 0;
}
.vsi-fe1-minimalist .vsi-fe1-simple{
    width: 50%;
    max-width: 50%;
    float: left;
    position: relative;
    font-size: 50px;
    line-height: 60px;
    font-weight: normal;
}
.vsi-fe1-minimalist .vsi-fe1-text-simple {
    position: absolute;
    top: 0;
    left: 100px;
    max-width: 80%;
    width: 80%;
    padding: 0;
    margin: 0;
}
.vsi-fe1-minimalist .vsi-fe1-box-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* bottom: -300px; */
    top: 400px;
    left: 0;
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.vsi-fe1-minimalist .vsi-fe1-box-img .vsi-fe1-minimalist-ipad{
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.vsi-fe1-minimalist .vsi-fe1-box-img .vsi-fe1-minimalist-ipad img{
    vertical-align: middle;
    width: 100%;
    height: auto;
}
.vsi-fe1-minimalist .vsi-fe1-box-img .vsi-fe1-minimalist-pencil{
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    left: 75px;
    position: relative;
}
.vsi-fe1-minimalist .vsi-fe1-box-img .vsi-fe1-minimalist-pencil img{
    vertical-align: middle;
    width: 100%;
    height: auto;
}
.vsi-fe1-minimalist .vsi-fe1-box-img .vsi-fe1-minimalist-coffee{
    max-width: 100%;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: -9;
    top: -90px;
}
.vsi-fe1-minimalist .vsi-fe1-box-img .vsi-fe1-minimalist-coffee img{
    vertical-align: top;
    width: 100%;
    height: auto;
}
.vsi-fe1-box-border .vsi-fe1-border{
    z-index: 0;
    display: block;
    position: absolute;
    top: -5px;
    left: -40px;
    text-align: left;
    width: 209px;
    height: 140px;
    border: 2px solid #d5d5d5;
}
.vsi-fe1-minimalist .vsi-fe1-simple .vsi-fe1-box-border h1{
    margin: 0;
    padding-bottom: 20px;
    font-size: 50px;
    line-height: 60px;
    font-weight: normal;
    text-align: left;
    color: #d5d5d5;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}   
.vsi-fe1-minimalist .vsi-fe1-simple p{
    padding: 0;
    padding-bottom: 16px;
    line-height: 26px;
    font-size: 16px;
    text-align: left;
    color: #555555;
    font-family: "Roboto","Helvetica","Calibri";
}   
.vsi-fe1-minimalist .vsi-fe1-img-simple{
    /* width: 50%; */
    /* max-width: 50%; */
    float: right;
    position: relative;
    margin: 0 auto;
    text-align: -webkit-center;
    padding-top: 70px;
}
.vsi-fe1-minimalist .vsi-fe1-img-simple .vsi-fe1-img-top img{
    /* width: 100%; */
    /* max-width: 100%; */
    padding: 0;
    margin: 0;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.vsi-fe1-minimalist .vsi-fe1-img-simple .vsi-fe1-img-bottom img{
    width: 57%;
    max-width: 57%;
    height: auto;
    padding: 0;
    margin: 0;
    /* display: block; */
    margin: 0 auto;
    text-align: center;
}
.vsi-fe1-interraction{
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    padding: 225px 15px 295px 15px;
    background: #249af5 url(../images/creativity/interaction_mountain.png) repeat-x bottom center;
    position: relative;

}
.vsi-fe1-interraction .vsi-fe1-interaction-cloud-1{
    position: absolute;
    top: 150px;
    left: 40px;
    max-width: 100%;
    height: auto;
}
.vsi-fe1-interraction .vsi-fe1-interaction-cloud-1 img{
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.vsi-fe1-interraction .vsi-fe1-interaction-cloud-2{
    text-align: center;
    position: relative;
    max-width: 100%;
    height: auto;
    top: 0;
    position: absolute;
    top: 50px;
    left: 510px;
}
.vsi-fe1-interraction .vsi-fe1-interaction-cloud-2 img{
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.vsi-fe1-interraction .vsi-fe1-interaction-cloud-3{
    right: 300px;
    clear: both;
    position: absolute;
    top: 100px;
}
.vsi-fe1-interaction-rocket{
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.vsi-fe1-interaction-rocket img{
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
.vsi-fe1-interaction-sun{
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.vsi-fe1-interaction-sun img{
    vertical-align: middle;
    padding: 0;
    margin: 0;

}
.vsi-fe1-flat{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.vsi-fe1-flat h1{
    color: var(--white);
    padding-bottom: 20px;
    margin: 0;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    font-weight: normal;
    font-family: "Roboto","Helvetica","Calibri";

}
.vsi-fe1-flat p{
    color: var(--white);
    padding-bottom: 20px;
    margin: 0;
    font-size: 16px;
    text-align: left;
    line-height: 1.6;
    font-weight: normal;
    font-family: "Roboto","Helvetica","Calibri"
}
.vsi-fe1-interraction .vsi-fe1-interaction_mountain{
    background-image: url(../images/creativity/interaction_mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (max-width: 575.98px) { 

    .vsi-fe1-title-banner img{
        width: 100%;
        max-width: 100%;
    }
    .vsi-fe1-creativity-devices{
        top: 50% !important;
        height: auto;
    }
    .vsi-fe1-creativity-devices img{
        width: 100%;
        max-width: 100%;
    }
    .vsi-fe1-man-in-suit{
        position: absolute;
        z-index: -99;
        width: 50%;
        max-width: 50%;
        left: 0;
    }
    .vsi-fe1-professional{
        justify-content: end !important;
    }
    .vsi-fe1-professional-banner{
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .vsi-fe1-text-professional{
        width: 100% !important;
        max-width: 100%;
    }
    .vsi-fe1-text-professional h1{
        font-size: 20px;
        text-align: right;
        line-height: 1.6;
        padding-right: 20px;
    }
    .vsi-fe1-text-professional p{
        font-size: 10px;
        text-align: right;
        padding-right: 20px;
    }
    .vsi-fe1-professional{
        flex-direction: column;
        display: flex; 
    }
    .vsi-fe1-pink{
        display: none !important;
    }
    .vsi-fe1-funky_banner{
        display: none !important;
    }
    .vsi-fe1-text-funky{
        width: 100%;
        max-width: 100%;
        position: absolute;
        top: 3%;
        padding: 0 15px;
    }
    .funky-banner-mobile{
        display: block;
        width: 100%;
        height: auto;
        max-width: 100%;
        position: absolute;
        margin: 0 auto;
        background-size: contain;
        top: 50%;
    }
    .vsi-fe1-minimalist{
        padding-top: 100px !important;
        padding-bottom: 330px !important;
        height: 100%;
        display: inline-block;
    }
    .vsi-fe1-box-border .vsi-fe1-border{
        display: none !important;
    }
    .vsi-fe1-minimalist .vsi-fe1-box-img .vsi-fe1-minimalist-pencil{
        left: 40px;
    }
    .vsi-fe1-minimalist .vsi-fe1-simple{
        width: 100%;
        max-width: 100%;
    }
    .vsi-fe1-minimalist .vsi-fe1-img-simple .vsi-fe1-img-bottom img{
    opacity: 0;
    }
    .vsi-fe1-minimalist .vsi-fe1-text-simple{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: contents;
    }
    .vsi-fe1-minimalist .vsi-fe1-img-simple .vsi-fe1-img-top{
        position: absolute;
        top: -280px;
        left: -80px;
        right: 0;
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .vsi-fe1-minimalist .vsi-fe1-img-simple .vsi-fe1-img-top img{
        width: 100%;
        min-width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .vsi-fe1-interraction .vsi-fe1-interaction-cloud-2{
        display: none !important;
    }
      .vsi-fe1-interraction .vsi-fe1-interaction-cloud-1{
        top: 20px;
        text-align: right;
        right: 20px;
    }
      .vsi-fe1-interraction .vsi-fe1-interaction-cloud-3{
          display: none !important;
      }
}
@media (min-width: 576px) and (max-width: 767.98px) { 
    .vsi-fe1-title-banner img{
        width: 100%;
        max-width: 100%;
    }
    .vsi-fe1-creativity-devices{
        top: 50% !important;
        height: auto;
    }
    .vsi-fe1-creativity-devices img{
        width: 100%;
        max-width: 100%;
    }
    .vsi-fe1-pink{
        display: none !important;
    }
    .vsi-fe1-funky_banner{
        display: none !important;
    }
    .vsi-fe1-text-funky{
        width: 100%;
        max-width: 100%;
        position: absolute;
        top: 2%;
        padding: 0 15px;
    }
    .funky-banner-mobile{
        position: absolute;
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        top: 36%;
    }
    .vsi-fe1-box-border .vsi-fe1-border{
        display: none !important;
    }
    .vsi-fe1-minimalist .vsi-fe1-text-simple{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: contents;
    }
    .vsi-fe1-minimalist .vsi-fe1-img-simple .vsi-fe1-img-top{
        position: absolute;
        top: -340px;
        left: -225px;
        right: 0;
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .vsi-fe1-minimalist .vsi-fe1-img-simple .vsi-fe1-img-top img{
        width: 100%;
        min-width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .vsi-fe1-minimalist{
        padding-top: 100px !important;
        padding-bottom: 345px !important;
        height: 100%;
        display: inline-block;
    }
    .vsi-fe1-minimalist .vsi-fe1-box-img .vsi-fe1-minimalist-pencil{
        left: 40px;
    }
    .vsi-fe1-minimalist .vsi-fe1-simple{
        width: 100%;
        max-width: 100%;
    }
    .vsi-fe1-minimalist .vsi-fe1-text-simple{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: contents;
    }
    .vsi-fe1-minimalist .vsi-fe1-img-simple .vsi-fe1-img-bottom img{
    opacity: 0;
    }
    .vsi-fe1-interraction .vsi-fe1-interaction-cloud-2{
        display: none !important;
    }
      .vsi-fe1-interraction .vsi-fe1-interaction-cloud-1{
        top: 20px;
        text-align: right;
        right: 20px;
    }
      .vsi-fe1-interraction .vsi-fe1-interaction-cloud-3{
          display: none !important;
      }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

@media (min-width: 1200px) { 
    
 }