
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --grey: #ccc;
    --black: #000;
    --white: #fff;
    --red: #FF0000;
    --dark: #4d4d4d;
    --orager: #ff9a16;
}
body{
    background: var(--white);
    padding: 0;
    margin: 0;
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 400;
    font-size: 1rem;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: 'Roboto', sans-serif;
}
.nav__bar{
    padding-top: 13px;
    padding-bottom: 13px;
    background: #282b2e;
    color: #fff;
}
.text__nav__bar{
    float: left;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.text__nav__bar p{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    font-weight: normal;
    outline: none;
    text-align: left;

}
.btn__nav__bar{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
}
.btn__nav__bar a{
    color: var(--white);
    padding: 10px 20px; 
    margin: 0;
    background: var(--orager);
    width: 126px;
    height: 35px;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
    line-height: 2;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
.menu__show{
   background: var(--white);
   padding: 15px;
   margin: 0; 
   width: 100%;
   max-width: 100%;
}
.nav__logo{
    cursor: pointer;
    width: 130px;
    max-width: 130px;
    height: 70px;
}
.nav__logo a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.nav__logo a img{
    width: 130px;
    max-width: 130px;
    height: auto;
    padding: 0;
    margin: 0;

}
.nav__menu{
    height: 70px;
    line-height: 10px;
}
.nav__menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 4;
    float: right;
}
.nav__menu ul li{
    display: inline-block;
    padding: 0;
    float: left;
    margin: 0 20px;

}
.nav__menu ul li a{
    text-decoration: none;
    padding: 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #282b2e;
}
.nav__menu ul li a:hover{
    color: #1d96c4;
    transition: all 0.3s;
}


/* title__footer */
.title__footer{
    background-color: #0096c4;
    width: 100%;
    max-width: 100%;
    padding: 25px 15px;
    margin: 0;
}
.text__title__footer{
    width: 100%;
    max-width: 100%;
    float: right;
    
}
.text__title__footer h1{
    color: var(--white);
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.btn__footer{
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.btn__footer a{
    font-weight: bold;
    width: 100%;
    min-width: 150px;
    text-decoration: none;
    padding: 16px 20px;
    height: 100%;
    line-height: 3;
    background-color: var(--white);
    margin: 0;
    color: #525252;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
}
.content__footer{
    padding: 40px 15px 50px 15px;
    margin: 0;
    max-width: 100%;
    width: 100%;
    background-color: #282b2e;
}
.icon__facebook{
    width: 30px;
    padding: 0;
    height: 30px;
    margin: 0 auto;
    display: block;
    border: 2px solid var(--white);
    border-radius: 50%;
    margin-bottom: 20px;
}
.icon__facebook:hover{
    background: #1d96c4;
    border-color: #1d96c4;
    color: #fff;
    transition: all 0.5s linear;
}
.fa-facebook{
    text-align: center;
    margin: 0 auto;
    display: block;
    color: var(--white);
    line-height: 1.7;
}
.regional__footer{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: block;
    max-width: 100%;
}
.regional__footer h3{
    font-size: 24px;
    padding: 0;
    text-align: center;
    margin: 0;
    color: var(--white);
    font-weight: normal;
}
.regional__footer h3::before{
    content: '';
    display: block;
    position: absolute;
    top: 80%;
    left: 0;
    width: 80px;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}
.regional__footer h3::after{
    content: '';
    display: block;
    position: absolute;
    top: 80%;
    width: 80px;
    right: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}
.pt__10{
    padding-top: 10px;
}
.text__footer__left{
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
}
.text__footer__left h4{
    color: #0096c4;
    padding: 0;
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.text__footer__left p{
    text-align: center;
    padding: 10px 0;
    margin: 0;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}
.text__footer__right{
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
}
.text__footer__right h4{
    color: #0096c4;
    padding: 0;
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.text__footer__right p{
    text-align: center;
    padding: 10px 0;
    margin: 0;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}
.copyright__footer{
    width: 100%;
    max-width: 100%;
    padding: 0;
    background: var(--black);
    margin: 0;
}
.copyright__left p{
    padding: 20px;
    font-size: 14px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--white);

}
.copyright__right{
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;  
}
.copyright__right ul{
    list-style: none;
    padding: 20px;
    margin: 0;
    text-align: right;
}
.copyright__right ul li{
    display: inline-block;
    padding: 0;
    margin: 0 9px;
}
.copyright__right ul li a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: var(--white);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

}
.copyright__right ul li a:hover{
    color: #1d96c4;
    transition: all 0.3s;
}
/* title__footer */ 




@media (max-width: 575.98px) { 
    .btn__footer{
        margin: 0 auto;
        padding: 10px;
    }
    .copyright__right ul{
        text-align: center;
    }
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
    .btn__footer{
        margin: 0 auto;
        padding: 10px;
    }
    .copyright__right ul{
        text-align: center;
    }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

@media (min-width: 1200px) { 
    
 }


 /* Start Feature */
.vsi-fe3-my-feature__banner{
    text-align: center;
    background-image: url('../images/feature/banner1.jpg');
}
 
.vsi-fe3-my-feature__banner--title{
    font-weight: 36px;
    color: var(--white);
}

.vsi-fe3-my-feature__banner p{
    font-size: 24px;
    color: var(--white);
}

.vsi-fe3-my-feature__projects--title h2{
    font-size: 36px;
    font-weight: bold;
}

.vsi-fe3-my-feature__projects--list {
    justify-content: space-between;
}

.vsi-fe3-my-feature__projects--list  li{
    list-style: none;
}

.vsi-fe3-my-feature__projects--list  a{
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}
.vsi-fe3-my-feature__projects--content{
    color: var(--white);
}

/* .vsi-fe3-my-feature__content--item .vsi-fe3__item--left ,.vsi-fe3-my-feature__content--item .vsi-fe3__item--right{
    width: 50%;
}  */
.vsi-fe3-my-feature__content--item .vsi-fe3__item--right{
   
    background-color: #262626;
}
.vsi-fe3__item--right-content{
    margin: 40px 20px;
    padding: 0 20px;
}
.vsi-fe3__item--right-content .swiper-slide a{
    color: var(--white);
    text-decoration: none;
}
.vsi-fe3__item--right-content .swiper-slide a:hover{
color: #1d96c4;
}
.swiper-container {
   max-width: 520px
}
.vsi-fe3__overflow{
    height: 310px;
    overflow: auto;
}


/* Custom scroll bar */



.vsi-fe3__overflow::-webkit-scrollbar-track
{
	border: 1px solid #262626;
	background-color: #262626;
}

.vsi-fe3__overflow::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.vsi-fe3__overflow::-webkit-scrollbar-thumb
{
    background-color:#0096c4;
    border-radius: 8px;
}

 /* End Feature */

