@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --grey: #ccc;
  --black: #000;
  --white: #fff;
  --red: #ff0000;
  --dark: #4d4d4d;
  --orager: #ff9a16;
  --blue: #0056c4;
}
body {
  background: var(--white);
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Roboto", sans-serif;
}

/* vsi-fe1-slider */
  .vsi-fe1-slider{
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 50px 15px;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    background-color: #e1eff6;
    background-image: url(../images/home/home_banner.jpg);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
  }
  
  .vsi-fe1-ipad-phone{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .vsi-fe1-ipad-phone .vsi-fe1-iphone{
    width: 27%;
    min-width: 27%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .vsi-fe1-ipad-phone .vsi-fe1-iphone img{
    display: block;
    height: auto;
    vertical-align: middle;
  }
  .vsi-fe1-ipad-phone .vsi-fe1-ipad{
    width: 23%;
    min-width: 23%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .vsi-fe1-text-ipad-iphone{
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    padding: 0;

  }
  .vsi-fe1-text-ipad-iphone h1{
    color: #1d96c4;
    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
    padding-bottom: 10px;
    margin: 0;
    text-align: left;
    font-family: "Roboto","Helvetica","Calibri";

  }
  .vsi-fe1-text-ipad-iphone p{
    color: #333;
    font-size: 16px;
    font-family: "Roboto","Helvetica","Calibri";
    text-align: left;
    padding: 0;
    margin: 0;
    text-align: left;


  }
  .vsi-fe1-button-btn{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 0;
    position: relative;
    margin-top: 20px;
  }
  .vsi-fe1-button-btn .vsi-fe1-btn-left{
    width: 50%;
    max-width: 50%;
    background: #1d96c4;
    margin-right: 5px;
    border-radius: 3px;
  }
  .vsi-fe1-button-btn .vsi-fe1-btn-left a{
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    outline: none;
    
  }
  .vsi-fe1-button-btn .vsi-fe1-btn-left a{
    font-size: 18px;
    position: absolute;
    top: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #1d96c4;
    color: var(--white);
    overflow: hidden;
    text-decoration: none;
    font-family: "Roboto","Helvetica","Calibri";
    text-align: center;
    border-radius: 3px;
}
.vsi-fe1-button-btn .vsi-fe1-btn-left a:hover {
  margin: 0;
  padding: 10px 20px;
  background: #ff9a16;
  border-color: #ff9a16;
  color: #fff;
  font-family: "Roboto","Helvetica","Calibri";
  transition: all 0.5s linear;
}
.vsi-fe1-button-btn .vsi-fe1-btn-left a:hover::before{
  content: '';
  position: absolute;
  display: block;
  z-index: 99;
  text-align: center;
  width: 300px;
  height: 300px;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #b3d4fc;
  opacity: 0.3;
  animation: pulse-ring 1.25s cubic-bezier(0,.98,.98,0) infinite;

}
@keyframes pulse-ring {
  0% {
    transform: scale(.10);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}
  .vsi-fe1-button-btn .vsi-fe1-btn-right{
    width: 50%;
    max-width: 50%;
    padding: 0;
    margin: 0;
    border-radius: 3px;
  }
  .vsi-fe1-button-btn .vsi-fe1-btn-right a{
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    outline: none;
  }
  .vsi-fe1-button-btn .vsi-fe1-btn-right a{
    font-size: 18px;
    position: absolute;
    top: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #fff;
    color: #525252;
    overflow: hidden;
    text-decoration: none;
    font-family: "Roboto","Helvetica","Calibri";
    text-align: center;
    border-radius: 3px;
}
.vsi-fe1-button-btn .vsi-fe1-btn-right a:hover {
  margin: 0;
  padding: 10px 20px;
  background: #1d96c4;
  border-color: #1d96c4;
  color: #fff;
  font-family: "Roboto","Helvetica","Calibri";
  transition: all 0.5s linear;
}
.vsi-fe1-button-btn .vsi-fe1-btn-right a:hover::before{
  content: '';
  position: absolute;
  display: block;
  z-index: 99;
  text-align: center;
  width: 300px;
  height: 300px;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #b3d4fc;
  opacity: 0.3;
  animation: pulse-ring 1.25s cubic-bezier(0,.98,.98,0) infinite;

}
@keyframes pulse-ring {
  0% {
    transform: scale(.10);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}
.swiper-button-next{
  background-color: var(--white);
  width: 40px;
  position: absolute;
  height: 40px;
  right: 180px;
}
.swiper-button-prev{
  background-color: var(--white);
  width: 40px;
  height: 40px;
  position: absolute;
  left: 180px;
  animation-name: example;
  animation-duration: 0.5s linear;
}
.swiper-button-prev:hover{
  transition: all 0.5s linear;
  left: 130px !important;
  padding: 0;
  margin: 0;
  animation-name: example;
  animation-duration: 0.5s linear;
}
@keyframes example {
  from {left: 180px;}
  to {left: 130px;}
}
.swiper-button-next, .swiper-button-prev{
  margin-top: 0 !important;
}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 18px;
  color: var(--grey);
}
.swiper-button-next:hover{
  transition: all 0.5s linear;
  width: 40px;
  height: 40px;
  right: 130px !important;
  padding: 0;
  margin: 0;
}
.swiper-button-next:hover::after{
  color: #1d96c4;
}
.swiper-button-prev:hover::after{
  color: #1d96c4;
}
/* vsi-fe1-slider */


.VSI-intro {
  padding: 30px 0;
}
.VSI__intro--title {
  font-size: 40px;
  line-height: 1.1;
  margin: 0;
  padding: 0 0 20px;
  font-weight: bold;
}
.VSI__intro__left {
  margin: 20px 0;

}
.VSI__intro__left p,
h4 {
  font-size: 16px;
}
.VSI__intro__right {
  margin: 20px 0;
 
}
.VSI__intro--button {
  margin: 30px 0 0;
}
.VSI__intro--button .btn {
  min-width: 150px;
  padding: 10px 20px;
  border: 1px solid #bfbfbf;
  text-align: center;
  color: #525252;
  border-radius: 3px;
}
.VSI-intro__item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #d9d9d9;
}
.VSI-intro__item a {
  text-decoration: none;
  color: var(--blue);
}
/* banner */
.VSI-banner {
  background-image: url("../images/home/banner1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--white);
}
.VSI-banner--text h3 {
  font-size: 36px;
  padding: 0 0 10px;
  font-weight: bold;
  margin: 0;
}
.VSI-banner--text p {
  font-size: 24px;
  font-style: italic;
  margin: 0;
}
/* VSI number */
.VSI-number{
  background-image: url("../images/home/banner1.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.VSI-number__items .plus:before,
.VSI-number__items .plus:after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 1px;
  background: #fff;
  left: 100%;
  top:50%;
}
.VSI-number__items .plus:after {
  position: absolute;
  top: 100;
  left: 50;
  transform: rotate(90deg);
}
.VSI-number__items span{
  font-size: 48px;
}
.VSI-number__items--round{
  border: 1px solid white;
  display: block;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  height: 200px;
  padding: 50px 0;
}
.VSI-number__items small{
  vertical-align: top;
  display: inline-block;
  padding-top: 10px;
  font-size: 24px;
}
.VSI-number__items p{
  margin-top: -20px;
}
/* carousel */
.VSI-capabilities{
  background-image: url('../images/home/services_banner.jpg');
  height: 550px;
  position: relative;
  background-position: center;
  background-size: cover;

}

.VSI-capabilities__content{ 
  margin: 0 auto;
  display: block;
  width: 70%  ;
  padding: 50px 0;
}
.VSI-capabilities__content h3{
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1;
}
.VSI-capabilities__content p{
font-size:18px ;
}
.VSI-capabilities--box,.VSI-capabilities--box--withanimate{
  background-color: white;
  border: 1px solid white;
  border-radius: 2px;
  padding: 20px 30px;
  color: black;
}
.VSI-capabilities--box a{
  text-decoration: none;
  color:#000;
  
}
.VSI-capabilities--box h4{
  font-weight: bold;
  margin-top: 20px;
}
/* image running animation *
@keyframes animatedBackground {
  0%,10% {
    background-position: 0px 0px;
  }
  11%, 21% {
    background-position: 90px 0px;
  }
  22%, 32% {
    background-position: 270px 0px;
  }
  33%, 43% {
    background-position: 360px 0px;
  }
  44%, 54% {
    background-position: 450px 0px;
  }
  55%, 65% {
    background-position: 540px 0px;
  }
  66%, 76% {
    background-position: 630px 0px;
  }
  77%, 88% {
    background-position: 720px 0px;
  }
  89%, 100% {
    background-position: 810px 0px;
  }
}
*/
@keyframes animatedBackground {
  0% {
    background-position:   0px;
  }
  100% {
    background-position: 810px 0px;
  }
}
#animate-area {
  width: 90px;
  height: 90px;
  background-image: url('../images/home/services_web_development_sprite.png');
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 0.5s infinite ;
  animation-timing-function: steps(9);
}
#animate-area{
  margin: 4px auto;
}
.VSI-capabilities--box--withanimate a{
  text-decoration: none ;
  color: #000;
}