
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --grey: #ccc;
    --black: #000;
    --white: #fff;
    --red: #FF0000;
    --dark: #4d4d4d;
    --orager: #ff9a16;
}
body{
    background: var(--white);
    padding: 0;
    margin: 0;
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 400;
    font-size: 1rem;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: 'Roboto', sans-serif;
}
.nav__bar{
    padding-top: 13px;
    padding-bottom: 13px;
    background: #282b2e;
    color: #fff;
}
.text__nav__bar{
    float: left;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.text__nav__bar p{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    font-weight: normal;
    outline: none;
    text-align: left;

}
.btn__nav__bar{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
}
.btn__nav__bar a{
    color: var(--white);
    padding: 10px 20px; 
    margin: 0;
    background: var(--orager);
    width: 126px;
    height: 35px;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
    line-height: 2;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
.menu__show{
   background: var(--white);
   padding: 15px;
   margin: 0; 
   width: 100%;
   max-width: 100%;
}
.nav__logo{
    cursor: pointer;
    width: 130px;
    max-width: 130px;
    height: 70px;
}
.nav__logo a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.nav__logo a img{
    width: 130px;
    max-width: 130px;
    height: auto;
    padding: 0;
    margin: 0;

}
.nav__menu{
    height: 70px;
    line-height: 10px;
}
.nav__menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 4;
    float: right;
}
.nav__menu ul li{
    display: inline-block;
    padding: 0;
    float: left;
    margin: 0 20px;

}
.nav__menu ul li a{
    text-decoration: none;
    padding: 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #282b2e;
}
.nav__menu ul li a:hover{
    color: #1d96c4;
    transition: all 0.3s;
}


/* title__footer */
.title__footer{
    background-color: #0096c4;
    width: 100%;
    max-width: 100%;
    padding: 25px 15px;
    margin: 0;
}
.text__title__footer{
    width: 100%;
    max-width: 100%;
    float: right;
    
}
.text__title__footer h1{
    color: var(--white);
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.btn__footer{
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.btn__footer a{
    font-weight: bold;
    width: 100%;
    min-width: 150px;
    text-decoration: none;
    padding: 16px 20px;
    height: 100%;
    line-height: 3;
    background-color: var(--white);
    margin: 0;
    color: #525252;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
}
.content__footer{
    padding: 40px 15px 50px 15px;
    margin: 0;
    max-width: 100%;
    width: 100%;
    background-color: #282b2e;
}
.icon__facebook{
    width: 30px;
    padding: 0;
    height: 30px;
    margin: 0 auto;
    display: block;
    border: 2px solid var(--white);
    border-radius: 50%;
    margin-bottom: 20px;
}
.icon__facebook:hover{
    background: #1d96c4;
    border-color: #1d96c4;
    color: #fff;
    transition: all 0.5s linear;
}
.fa-facebook{
    text-align: center;
    margin: 0 auto;
    display: block;
    color: var(--white);
    line-height: 1.7;
}
.regional__footer{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: block;
    max-width: 100%;
}
.regional__footer h3{
    font-size: 24px;
    padding: 0;
    text-align: center;
    margin: 0;
    color: var(--white);
    font-weight: normal;
}
.regional__footer h3::before{
    content: '';
    display: block;
    position: absolute;
    top: 80%;
    left: 0;
    width: 80px;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}
.regional__footer h3::after{
    content: '';
    display: block;
    position: absolute;
    top: 80%;
    width: 80px;
    right: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}
.pt__10{
    padding-top: 10px;
}
.text__footer__left{
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
}
.text__footer__left h4{
    color: #0096c4;
    padding: 0;
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.text__footer__left p{
    text-align: center;
    padding: 10px 0;
    margin: 0;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}
.text__footer__right{
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
}
.text__footer__right h4{
    color: #0096c4;
    padding: 0;
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.text__footer__right p{
    text-align: center;
    padding: 10px 0;
    margin: 0;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}
.copyright__footer{
    width: 100%;
    max-width: 100%;
    padding: 0;
    background: var(--black);
    margin: 0;
}
.copyright__left p{
    padding: 20px;
    font-size: 14px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--white);

}
.copyright__right{
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;  
}
.copyright__right ul{
    list-style: none;
    padding: 20px;
    margin: 0;
    text-align: right;
}
.copyright__right ul li{
    display: inline-block;
    padding: 0;
    margin: 0 9px;
}
.copyright__right ul li a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: var(--white);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

}
.copyright__right ul li a:hover{
    color: #1d96c4;
    transition: all 0.3s;
}
/* title__footer */ 




@media (max-width: 575.98px) { 
    .btn__footer{
        margin: 0 auto;
        padding: 10px;
    }
    .copyright__right ul{
        text-align: center;
    }
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
    .btn__footer{
        margin: 0 auto;
        padding: 10px;
    }
    .copyright__right ul{
        text-align: center;
    }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

@media (min-width: 1200px) { 
    
 }


 /* Start Our Works */

 .vsi-fe3-ourWorks__banner{
    background-image: url("../images/ourWorks/banner3-1.jpg");
    color: var(--white) ;
    text-align: center;
    padding: 50px 60px;
}

.vsi-fe3-ourWorks__banner--title{
    font-size: 36px;
    font-weight: bold;
}
.vsi-fe3-ourWorks p, span{
    font-weight: 400;
}



.vsi-fe3-ourWorks__works--item{
    text-align: center;
}
.vsi-fe3-ourWorks__works--item a{
    text-decoration: none;
}

.vsi-fe3-ourWorks__works--item span{
    color: var(--black);
    font-weight: bold;
}

.vsi-fe3-ourWorks__works--item span:hover {
    color: var(--blue);
    font-weight: bold;
}

.vsi-fe3-ourWorks__works--item span:active {
    color: var(--blue);
    font-weight: bold;
}


.vsi-fe3-ourWorks__main--banner{
    text-align: center;
}

.vsi-fe3-ourWorks--title{
    font-size: 36px;
    font-weight: bold;
    color: var(--black);
}

/* .overlay{
   
    display: block; 
    width: 100%; 
    height: 100%; 
   
    background-color: rgba(248, 248, 248, 0.01); 
    
    cursor: pointer
} */

.vsi-fe3__main--item a{
text-decoration: none;
text-align: center;
color: var(--black);

}





/* .overlay{
    opacity: 1;
}

.overlay:hover{
    opacity: 0.75;
}   */

/* .vsi-fe3__main--item:hover {
    opacity: 1;
  
} */
.vsi-fe3__main--item:hover img{
   box-shadow: 3px 3px 10px   grey;
}
.vsi-fe3__main--item{
    margin-top: 100px;
}


/* Animaiton */

.vsi-fe3-animation__hover     {
    
    animation-name: test;
    animation-duration: 1s;
    
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}

@keyframes test {
    0%   { margin-top: 100px;}
    
    100% { margin-top: 0px;}
}

/* End Animation */



 /* /* End Our Works  */