
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --grey: #ccc;
    --black: #000;
    --white: #fff;
    --red: #FF0000;
    --dark: #4d4d4d;
    --orager: #ff9a16;
}
body{
    background: var(--white);
    padding: 0;
    margin: 0;
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 400;
    font-size: 1rem;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: 'Roboto', sans-serif;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
  }
.nav__bar{
    padding-top: 13px;
    padding-bottom: 13px;
    background: #282b2e;
    color: #fff;
    transition: all 0.5s linear;
}
.text__nav__bar{
    float: left;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.text__nav__bar p{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    font-weight: normal;
    outline: none;
    text-align: left;

}
.btn__nav__bar{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
    position: relative;
}
.btn__nav__bar a:hover{
    background-color: #1d96c4; 
    transition: all 0.5s linear;
}
.remove{
    display: block !important;
}
.btn__nav__bar a{
    color: var(--white);
    padding: 10px 20px; 
    margin: 0;
    background: var(--orager);
    width: 126px;
    height: 35px;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
    line-height: 2;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

.menu__show{
   background: var(--white);
   padding: 15px;
   margin: 0;
   width: 100%;
   max-width: 100%;
   overflow: hidden;
}
.icon__mobile{
    display: none;
}
.nav__logo{
    cursor: pointer;
    width: 130px;
    max-width: 130px;
    height: 70px;
}
.nav__logo a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.nav__logo a img{
    width: 130px;
    max-width: 130px;
    height: auto;
    padding: 0;
    margin: 0;

}
.nav__logo__mobile{
    display: none;
}
.nav__menu{
    height: 70px;
    line-height: 10px;
}
.nav__menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 4;
    float: right;
    display: contents;
}
.nav__menu ul li{
    display: inline-block;
    padding: 0;
    float: left;
    margin: 0 20px;

}
.nav__menu ul li a{
    text-decoration: none;
    padding: 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #282b2e;
}
.nav__menu ul li a:hover{
    color: #1d96c4;
    transition: all 0.3s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
    padding: 0;
    margin: 0;
    z-index: 99;
  }
  /* menu mobile */
.menu__mobile{
    display: none;
}
  .sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    margin: 0 auto;
    left: 0;
    background-color: var(--white);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    text-align:center;
    font-family: 'Roboto', sans-serif;
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    margin: 0;
    padding: 10px 0;
    color: #282b2e;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .copyright__mobile p{
    line-height: 1.4;
    padding: 0;
    text-align: center;
    font-weight: normal;
    position: relative;
    bottom: -165px;
    justify-content: center;
  }
  .menu__mobile{
    display: none;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /* menu mobile */

/* title__footer */
.title__footer{
    background-color: #0096c4;
    width: 100%;
    max-width: 100%;
    padding: 25px 15px;
    margin: 0;
}
.text__title__footer{
    width: 100%;
    max-width: 100%;
    float: right;
    
}
.text__title__footer h1{
    color: var(--white);
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.btn__footer{
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.btn__footer a{
    font-weight: bold;
    width: 100%;
    min-width: 150px;
    text-decoration: none;
    padding: 16px 20px;
    height: 100%;
    line-height: 3;
    background-color: var(--white);
    margin: 0;
    color: #525252;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
}
.content__footer{
    padding: 40px 15px 50px 15px;
    margin: 0;
    max-width: 100%;
    width: 100%;
    background-color: #282b2e;
}
.icon__facebook{
    width: 30px;
    padding: 0;
    height: 30px;
    margin: 0 auto;
    display: block;
    border: 2px solid var(--white);
    border-radius: 50%;
    margin-bottom: 20px;
}
.icon__facebook:hover{
    background: #1d96c4;
    border-color: #1d96c4;
    color: #fff;
    transition: all 0.5s linear;
}
.fa-facebook{
    text-align: center;
    margin: 0 auto;
    display: block;
    color: var(--white);
    line-height: 1.7;
}
.regional__footer{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: block;
    max-width: 100%;
}
.regional__footer h3{
    font-size: 24px;
    padding: 0;
    text-align: center;
    margin: 0;
    color: var(--white);
    font-weight: normal;
}
.regional__footer h3::before{
    content: '';
    display: block;
    position: absolute;
    top: 80%;
    left: 0;
    width: 80px;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}
.regional__footer h3::after{
    content: '';
    display: block;
    position: absolute;
    top: 80%;
    width: 80px;
    right: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}
.pt__10{
    padding-top: 10px;
}
.text__footer__left{
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
}
.text__footer__left h4{
    color: #0096c4;
    padding: 0;
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.text__footer__left p{
    text-align: center;
    padding: 10px 0;
    margin: 0;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}
.text__footer__right{
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
}
.text__footer__right h4{
    color: #0096c4;
    padding: 0;
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.text__footer__right p{
    text-align: center;
    padding: 10px 0;
    margin: 0;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}
.copyright__footer{
    width: 100%;
    max-width: 100%;
    padding: 0;
    background: var(--black);
    margin: 0;
}
.copyright__left p{
    padding: 20px;
    font-size: 14px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--white);

}
.copyright__right{
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;  
}
.copyright__right ul{
    list-style: none;
    padding: 20px;
    margin: 0;
    text-align: right;
}
.copyright__right ul li{
    display: inline-block;
    padding: 0;
    margin: 0 9px;
}
.copyright__right ul li a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: var(--white);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

}
.copyright__right ul li a:hover{
    color: #1d96c4;
    transition: all 0.3s;
}
/* title__footer */ 




@media (max-width: 575.98px) { 
    .nav__menu{
        display: none !important;
    }
    .btn__nav__bar{
        text-align: center;
        padding: 20px 0;
    }
    .icon__mobile{
        display: block !important;
        text-align: right;
        float: right;
        position: absolute;
        top: 17%;
        right: 20px;
    }
    .btn__footer{
        margin: 0 auto;
        padding: 10px;
    }
    .copyright__right ul{
        text-align: center;
    }
    /* menu mobile */
    .menu__mobile{
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 2.3;
    }
    .border__bottom{
        text-align: center;
        border-bottom: 1px solid var(--grey);
        width: 20%;
        margin: 0 auto;
        text-decoration: none;
        list-style: none;
    }
    .icon__facebook {
        width: 30px;
        padding: 0;
        height: 30px;
        margin: 0 auto;
        display: block;
        border: 2px solid #626262;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    .fa-facebook {
        text-align: center;
        margin: 0 auto;
        display: block;
        color: #626262;
        line-height: 1.7;
    }
    .nav__logo__mobile{
        display: block !important;
    }
    .nav__logo__mobile{
        cursor: pointer;
        text-align: left;
        height: 70px;
        border-bottom: 1px solid var(--grey);
        padding-left: 20px;
    }
    .nav__logo__mobile a{
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    .nav__logo__mobile a img{
        width: 130px;
        max-width: 130px;
        height: auto;
        padding: 0;
        margin: 0;
    
    }
    /* menu mobile */
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
    .nav__menu{
        display: none !important;
        padding: 20px 0;
    }
    .btn__nav__bar{
        text-align: center;
    }

    .icon__mobile{
        display: block !important;
        text-align: right;
        float: right;
        position: absolute;
        top: 17%;
        right: 20px;
    }
    .btn__footer{
        margin: 0 auto;
        padding: 10px;
    }
    .copyright__right ul{
        text-align: center;
    }
    /* menu mobile */
    .menu__mobile{
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 2.3;
    }
    .border__bottom{
        text-align: center;
        border-bottom: 1px solid var(--grey);
        width: 20%;
        margin: 0 auto;
        text-decoration: none;
        list-style: none;
    }
    .icon__facebook {
        width: 30px;
        padding: 0;
        height: 30px;
        margin: 0 auto;
        display: block;
        border: 2px solid #626262;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    .fa-facebook {
        text-align: center;
        margin: 0 auto;
        display: block;
        color: #626262;
        line-height: 1.7;
    }
    .nav__logo__mobile{
        display: block !important;
    }
    .nav__logo__mobile{
        cursor: pointer;
        height: 70px;
        text-align: left;
        height: 70px;
        border-bottom: 1px solid var(--grey);
        padding-left: 20px;
    }
    .nav__logo__mobile a{
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    .nav__logo__mobile a img{
        width: 130px;
        max-width: 130px;
        height: auto;
        padding: 0;
        margin: 0;
    
    }
    /* menu mobile */
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

@media (min-width: 1200px) { 
    .btn__left{
        text-align: left !important;
    }
 }